# Ignore everything
*

# but
!/pyproject.toml
!/uv.lock
!/README.md
!/{{ cookiecutter.__package_name_snake_case }}/**/*.py

# but but
# Ignore the unignored
# /{{ cookiecutter.__package_name_snake_case }}/super/specific.py
